.title{
    margin-bottom: 1rem;
}

.innerDiv {
    text-align: center;
    /* min-width: 400px; */
    padding: 30px;
    margin-right: 50px;
    background-color: #F7F7F7;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 50px;
    transition: transform 0.3s;
}

.innerDiv input {
    font-size: 15px;
    padding: 3px 5px;
    width: 100%;
    margin-bottom: 5px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

.innerDiv button {
    padding: 5px 10px;
    margin: 10px auto;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
}


.innerDiv p {
    padding: 0px;
    margin-bottom: 3px;
    text-align: left;
}

.innerDiv h1 {
    font-size: 25px;
}

.innerDiv a {
    text-decoration: none;
    color: gray;
}

.innerDiv a:hover {
    color: darkgrey;
}

.logoImage {
    aspect-ratio: auto;
    height: 70px;
}

.loginFormGrid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

.loginFormColumn {
    min-width: 300px;
}

.passwordGuide {
    font-size: 13px;
    color: red;
    margin: 0px;
}

.signupMenuButton {
    width: 100px;
}

.btnEnabled{
    opacity: 1;
}

.btnDisabled{
    opacity: 0.1;
}

@media screen and (max-width: 768px) {
    .innerDiv {
        margin: 0px;
    }
    .loginFormGrid {
        grid-template-columns: auto;
    }
}