@media only screen and (max-width:320px) {
    html{
        font-size: 10px;
    }

    #main{
        grid-template-columns: 1fr;
    }

    .main-section   {
        grid-area: 1 / 1 / -1 / -1;
    }

    .right-menu-bar{
        display: none;
    }

    #filter-3{
        display: inline-block;
    }

    .the-feed > div:first-child{
        flex-direction: column;
        gap: 0.5rem;
    }
    .filters-of-feed{
        /* flex-direction: column; */
        margin-left: 0px;
    }

    .filters-of-feed > div:first-child{
        display: none;
    }

    .feed-filters{
        /* flex-direction: column; */
    }

    .left-menu-bar{
        width: 100vw;
        font-weight: 500;
    }

    .community-profile{
        border-radius: 0;
        background-color: white;
        border: 0;
        /* border-bottom: 2px solid black; */
    }

    .community-profile .banner{
        border-radius: 0;
    }

    .community-profile-name{
        margin-left: 1rem;
        justify-content: left;
    }

    .feed-or-about{
        display: block;
    }

    .mods{
        width: 100%;
    }

}

@media only screen and (min-width:321px) and (max-width:534px) {
    html{
        font-size: 12px;
    }
    #main{
        grid-template-columns: 1fr;
    }

    .main-section{
        grid-area: 1 / 1 / -1 / -1;
    }

    .right-menu-bar{
        display: none;
    }

    #filter-3{
        display: inline-block;
    }

    .the-feed > div:first-child{
        flex-direction: column;
        gap: 0.5rem;
    }
    .filters-of-feed{
        /* flex-direction: column; */
        margin-left: 0px;
    }

    .filters-of-feed > div:first-child{
        display: none;
    }

    .feed-filters{
        /* flex-direction: column; */
    }

    .left-menu-container{
        width: 100%;
        display: none;
    }

    .left-menu-bar{
        width: 100%;
        font-weight: 500;
    }

    .community-profile{
        border-radius: 0;
        background-color: white;
        border: 0;
        /* border-bottom: 2px solid black; */
    }

    .community-profile .banner{
        border-radius: 0;
    }

    .community-profile-name{
        margin-left: 1rem;
        justify-content: left;
    }

    .feed-or-about{
        display: block;
    }

    .mods{
        width: 80%;
    }

    
}

@media only screen and (min-width:534px) and (max-width:900px) {
    html{
        font-size: 12px;
    }
    #main{
        grid-template-columns: 1fr;
    }

    .main-section{
        grid-area: 1 / 1 / -1 / -1;
    }

    .right-menu-bar{
        display: none;
    }

    #filter-3{
        display: inline-block;
    }

    .community-profile{
        border-radius: 0;
        background-color: white;
        border: 0;
        /* border-bottom: 2px solid black; */
    }

    .community-profile .banner{
        border-radius: 0;
    }

    .community-profile-name{
        margin-left: 1rem;
        justify-content: left;
    }

    .feed-or-about{
        display: block;
    }

    .mods{
        width: 50%;
    }


}

@media only screen and (min-width:900px) and (max-width:1024px) {
    #main{
        grid-template-columns: 1fr 300px;
    }

    .main-section{
        grid-area: 1 / 1 / -1 / 2;
    }

    .right-menu-bar{
        width: 300px;
        font-size: 0.9rem;
        /* grid-area: 2 / 1 / -1 / -1; */
    }

    
    .main-section .community-profile{
        display: none;
    }


    .feed-or-about{
        display: none;
    }
    
}

@media only screen and (min-width:1025px) and (max-width:1245px) {
    #main{
        grid-template-columns: 1fr 325px;
    }

    .main-section{
        grid-area: 1 / 1 / -1 / -2;
    }

    .right-menu-bar{
        grid-area: 2 / 1 / -1 / -1;
    }

    .main-section .community-profile{
        display: none;
    }

    
    .feed-or-about{
        display: none;
    }


}

@media  (min-width:1245px){
    nav div button{
        display: none;
    }

    .left-menu-container{
        visibility: visible;
    }

    .main-section .community-profile{
        display: none;
    }

    .the-feed{
        display: flex;
    }
    
    .feed-or-about{
        display: none;
    }

}

@media only screen and (min-width:1201px){
    
}

