.btn {
  position: relative;
    width: 100%;
  border: none;
  outline: none;
  color: white;
  background: #3ab0ff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn > *{
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
}


.btn:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 2rem;
  z-index: -1;
  opacity: 0;
  filter: blur(2px);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}
.btn:hover:before {
  opacity: 1;
}
.btn:hover:active {
  background: none;
}
.btn:hover:active:before {
  filter: blur(1px);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
