.container{
    width: 75%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    grid-column: span 1;
    align-items: center;
    gap: 1rem;

}

#save-post{
    display:"flex";
    justify-content:"center";
    padding-top:"50px";
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feed{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}