.btn{
    padding: 0.5rem 1rem;
    border: 1px solid rgb(149, 149, 255);
    background-color: rgb(112, 196, 255);
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}