.searchBar{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap:10px;
}

.searchinput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}

.searchinput input{
    width: 100%;
    outline: none;
    height: 35px;
    font-size: 100%;
    /* vertical-align: middle; */
    padding: 2px 0.7rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: none;

}

.searchinput button{
    padding: 2px;
    border: none;
    /* border-left: 1px solid black; */
    outline: none;
    background-color: white;
}

.searchoutput{
    border-radius: 1rem;
    position: absolute;
    min-width: 100%;
    max-height: 300px;
    background-color: white;
    z-index: 1000;
    top: 60px;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.outputitem{
    padding: 5px;
    display: flex;
    align-items: center;
}

.outputitem:hover{
    background-color: aquamarine;
}

.outputitem{

}